@using EntityLayer.Concrete
@model List<About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Hakkında Veri Listesi</h2>
<table class="table  table-bordered ">
    <tr>
        <th>ID</th>
        <th>Hakkımda Başlığı 1</th>
        <th>Hakkımda Başlığı 2</th>
        <th>Hakkımda Fotoğraf 1</th>
        <th>Hakkımda Fotoğraf 2</th>
        <th>Durum</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AboutID</td>
            <td>@item.AboutDetails1</td>
            <td>@item.AboutDetails2</td>
            <td>@item.AboutImage1</td>
            <td>@item.AboutImage2</td>
            @if (item.AboutStatus == true)
            {
                <td><a href="/About/DeleteAbout/@item.AboutID" class="btn btn-danger ">Pasif Yap</a></td>
            }
            else
            {
                <td><a href="/About/DeleteAbout/@item.AboutID" class="btn btn-success">Aktif Yap</a></td>
            }
        </tr>
    }
</table>
@Html.Action("AboutPartial", "About")